<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Needs</title>
</head>
<body onload="getLocation()">
    <h1>What do you need?</h1>
    <form action="/" method="post" >
        <input type="text" name="Need" >
        <button type="submit" > Post</button>
    </form>

    <script src="index.js"></script>
</body>
</html>